#body{
    background: goldenrod;
}
#info{
    text-align: center;
    height: 50px;
    width: 500px;
    border: 1px solid black;
    background: greenyellow;
    border-radius: 50px;
    color: brown;
    background-position: top;
   
}
#status{
    text-align: center;
    background-position: top;
}
#your{
    height: auto;
    width: 100%;
    background: goldenrod;
    color: brown;
}
#start{
    text-align: center;
    height: 50px;
    width: 500px;
    border: 1px solid black;
    background: greenyellow;
    border-radius: 50px;
    color: brown;
    background-position: top;
    font-size: 50px;
}
#out{
    font-size: 25px;
    background: greenyellow;
}
#h2{
    font-size: 80px;
}
#game{
    font-size: 100px;
    color: white;
}
#tampilan{
    background-image:url("img/D01.jpg");
}